@model List<Entites.Concrate.SiparisDetay>
@{
    int values = 0;
    }

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Masa ID
            </th>
            <th>
                Ürün
            </th>
            <th>
                Adet
            </th>
            <th>
                Fiyat
            </th>
            <th>
                Toplam
            </th>
            <th>
                Oluşturma Tarihi
            </th>
            <th>
                Güncellenme Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiparisMaster.MasaId)
                </td>
                <td>
                    @ViewBag.Urun[values].UrunAdi
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @(item.Fiyat * item.Adet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    <a class="badge badge-outline-warning" asp-action="Hazırlanıyor" asp-route-id="@item.ID">Hazırla</a>
                    <a class="badge badge-outline-warning" asp-action="TeslimEdildi" asp-route-id="@item.ID">Teslim Edildi</a>
                </td>
            </tr>

            values += 1;
        }
    </tbody>



</table>

<br />
@foreach (var item in Model)
{

    <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Geri dön</a>

    <a class="btn btn-success btn-fw mdi mdi-coin">
        Toplam Tutar :  @Html.DisplayFor(modelItem => item.SiparisMaster.ToplamTutar) TL
    </a>
    break;
}