@model List<SiparisMaster>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-controller="KapaliSiparis" asp-action="Index">Kapalı Siparişler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sipariş Id
            </th>
            <th>
                Masa No
            </th>
            <th>
                Toplam Tutar
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                Sipariş Tarihi
            </th>
            <th>
                Güncelleme Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MasaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToplamTutar) TL
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Kapat</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
