@model List<SiparisMaster>

@{
    ViewData["Title"] = "Index";
}
<style>
    .yeniSiparis {
        background-color: #203d37;
    }
</style>
<div id="signalR"></div>

<a asp-controller="KapaliSiparis" asp-action="Index" class="btn btn-primary btn-icon-text">
         Kapalı Siparişler 
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Sipariş Numarası
            </th>
            <th>
                Masa Numarası
            </th>
            <th>
                Toplam Tutar
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                Sipariş İlerlemesi
            </th>
            <th>
                Sipariş Tarihi
            </th>
            <th>
                Güncelleme Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr class="@(item.SiparisDetay.Last().status == SiparisDetay.Status.Onaylandı ? "yeniSiparis" : "")">
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MasaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToplamTutar) ₺
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                    @item.SiparisDetay.Last().status
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>

                        <a class="badge badge-outline-success" asp-action="Details" asp-route-id="@item.ID">Detaylar</a> 
                        <a class="badge badge-outline-danger" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Siparişi kapat</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>

<script>

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/siparis-hub") // Hub'ın URL'sini belirtin
        .configureLogging(signalR.LogLevel.Information)
        .build();

    connection.start().then(function () {
        console.log("SignalR bağlantısı kuruldu.");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("YeniSiparisGeldi", function (siparis) {
        location.reload();
    });

</script>