@model List<SiparisMaster>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="KapaliSiparis" asp-action="Index" class="btn btn-primary btn-icon-text">
         Kapalı Siparişler 
</a>
<div class="dropdown-divider"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Sipariş Numarası
            </th>
            <th>
                Masa Numarası
            </th>
            <th>
                Toplam Tutar
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                Sipariş İlerlemesi
            </th>
            <th>
                Sipariş Tarihi
            </th>
            <th>
                Güncelleme Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MasaId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToplamTutar) ₺
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                    @item.SiparisDetay.Last().status
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
                    <td>

                        <a class="badge badge-outline-success" asp-action="Details" asp-route-id="@item.ID">Detaylar</a> 
                        <a class="badge badge-outline-danger" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Siparişi kapat</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
