@model Entites.Concrate.Urun

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürünü silmek istediğinize emin misiniz?</h4>
            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ürün Adı</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="exampleInputUsername2" placeholder="@Model.UrunAdi" disabled>
                </div>
            </div>
            <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Ürün Açıklaması</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="@Model.UrunAciklama" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Ürün Görseli</label>
                <div class="col-sm-9">
                    <img src="@Model.FotografLink" width="128" height="128"/>
                </div>
            </div>
            <div class="form-group row">
            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Ürün Fiyatı</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="@Model.Fiyat" disabled>
                </div>
            </div>
            <div class="form-group row">
            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Kategorisi</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="@Model.Kategori.KategoriAdi" disabled>
                </div>
            </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Sil" class="btn btn-danger btn-fw" />
            <a asp-action="Index" class="btn btn-secondary btn-fw mdi mdi-backburger">Listeye geri dön</a>
        </form>
    </div>
</div>


