@model IEnumerable<Entites.Concrate.Urun>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link btn btn-success create-new-button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotografLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunAciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotografLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat) TL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a class="badge badge-outline-success" class="badge badge-outline-danger" asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                <a class="badge badge-outline-warning" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a class="badge badge-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
