@model Firma

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4>Firma Bilgileri</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                             
                        </th>
                        <th>
                        </th>
                        <th>
                             
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td for="userName" class="col-sm-3 col-form-label">Firma Adı:</td>
                        <td>@Model.UserName</td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td for="email" class="col-sm-3 col-form-label">E-Mail:</td>
                        <td>
                            <span id="currentEmail">@Model.Email</span>
                            <input type="text" id="newEmail" style="display: none;" />
                        </td>
                        <td>
                            <button id="saveEmail" class="btn btn-primary btn-sm" style="display:none;">
                                <i class="mdi mdi-content-save"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">
                                <i class="mdi mdi-tooltip-edit"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td for="password" class="col-sm-3 col-form-label">Şifre:</td>
                        <td>
                            <span id="currentPassword">************</span>
                            <input type="password" id="newPassword" style="display: none;" />
                        </td>
                        <td>
                            <button id="savePassword" class="btn btn-primary btn-sm" style="display:none;">
                                <i class="mdi mdi-content-save"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" id="editPasswordRequest">
                                <i class="mdi mdi-tooltip-edit"></i>
                            </button>

                            <!--POPUP MAİL ŞİFRE ONAYI - Başlangıç-->

                            <div class="modal" tabindex="-1" role="dialog" id="passRequestModel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Şifre Değişikliği</h5>
                                        </div>
                                        <div class="modal-body" style="word-break:break-all" id="passRequestContent">
                                            <div class="form-group col-md-8">
                                                <label for="currentPasswordInput" class="control-label">Şuanki Şifreniz:</label>
                                                <input type="password" id="currentPasswordInput" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label for="newPasswordInput" class="control-label">Yeni Şifreniz:</label>
                                                <input type="password" id="newPasswordInput" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label for="reNewPasswordInput" class="control-label">Tekrar Yeni Şifreniz:</label>
                                                <input type="password" id="reNewPasswordInput" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="passRequestOnayla" class="btn btn-primary">Onayla</button>
                                            <button type="button" id="passRequestVazgec" class="btn btn-secondary">Geridön</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--POPUP MAİL ŞİFRE ONAYI - Son-->

                        </td>
                    </tr>
                    <tr>
                        <td for="phoneNumber" class="col-sm-3 col-form-label">Telefon No:</td>
                        <td>
                            <span id="CurrentPhoneNumber">@Model.PhoneNumber </span>
                            <input type="text" id="newPhoneNumber" style="display: none;" />
                        </td>
                        <td>
                            <button id="savePhoneNumber" class="btn btn-primary btn-sm" style="display:none;">
                                <i class="mdi mdi-content-save"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" id="editPhoneNumber">
                                <i class="mdi mdi-tooltip-edit"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td for="userName" class="col-sm-3 col-form-label">Vergi Dairesi:</td>
                        <td>@Model.VergiDairesi</td>
                        <td>
                            <button id="savePhoneNumber" class="btn btn-primary btn-sm" style="display:none;">
                                <i class="mdi mdi-content-save"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">
                                <i class="mdi mdi-tooltip-edit"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td for="userName" class="col-sm-3 col-form-label">Vergi No:</td>
                        <td>@Model.VergiNo</td>
                        <td>
                            <button id="savePhoneNumber" class="btn btn-primary btn-sm" style="display:none;">
                                <i class="mdi mdi-content-save"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm">
                                <i class="mdi mdi-tooltip-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>