@model IEnumerable<Entites.Concrate.Masa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="nav-link btn btn-success create-new-button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MasaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasaSifresi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MasaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasaSifresi)
            </td>
            <td>
                <a class="badge badge-outline-success" asp-action="SiparisiKapat" asp-route-id="@item.ID">Siparisi Kapat</a> 
                <a class="badge badge-outline-warning" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                <a class="badge badge-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
