@model IEnumerable<Entites.Concrate.Masa>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" class="btn btn-primary btn-icon-text">
        <i class="mdi mdi-file-check btn-icon-prepend"></i> Yeni Masa Oluştur
</a>
<div class="dropdown-divider"></div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Masa Numarası
            </th>
            <th>
                Masa Şifresi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MasaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasaSifresi)
            </td>
            <td>
                <a class="badge badge-outline-success" asp-action="SiparisiKapat" asp-route-id="@item.ID">Masayı Kapat</a> 
                <a class="badge badge-outline-warning" asp-action="Details" asp-route-id="@item.ID">Detaylar</a>
                <a class="badge badge-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
