@model List<Entites.Concrate.SiparisDetay>


<h1>Siparişler</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Masa ID
            </th>
            <th>
                UrunAdi
            </th>
            <th>
                Fiyat
            </th>
            <th>
                Adet
            </th>
            <th>
                Toplam
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                Sipariş Tarihi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisMaster.MasaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat) TL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adet)
            </td>
            <td>
                    @(item.Fiyat * item.Adet) TL
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.SiparisMaster.status)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a asp-action="Onayla" asp-route-id="@item.ID">Onayla</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    <center>
        <b>
            Toplam Tutar :  @Html.DisplayFor(modelItem => item.SiparisMaster.ToplamTutar) TL
        </b>
    </center>
    break;
}
