@model List<SiparisDetay>

@{
    string value = ViewBag.ss;
    bool onaysizUrun = false;
}

<section id="our_menu" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_title text-center mb-4">
                    <h1>Sepet</h1>
                    <div class="single_line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
                @for (int i = 0; i < @ViewBag.Firma.Count; i++)
                {
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="Menu" asp-action="Kategori" asp-route-id="@ViewBag.Firma[i].SelfKategoriID">@ViewBag.Firma[i].KategoriAdi</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Siparis" asp-action="Index">Sepet</a>
                </li>
            </ul>
        </div>
</section>
<!-- Table -->
<div class="col">
    <div class="card shadow">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Adet</th>
                        <th scope="col">Toplam</th>
                        <th scope="col">Sipariş Durumu</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {   
                        <tr>
                            <td>
                                <span class="mb-0 text-sm">@Html.DisplayFor(modelItem => item.Urun.UrunAdi) </span>
                            </td>
                            <td>
                                <span class="mb-0 text-sm">
                                    @item.Fiyat TL
                                </span>
                            </td>
                            <td>
                                @if (item.status == SiparisDetay.Status.Onay_Bekliyor)
                                {
                                    <input type="hidden" value="@item.SiparisMasterId" id="masterId">

                                    <button style="margin:0px" class="btn btn-sm btn-danger" onclick="increaseQuantity(@item.UrunId,@item.ID)"><i class=" mdi mdi-arrow-up-drop-circle-outline"></i></button>
                                    <b id="quantity-@item.UrunId">@item.Adet</b>
                                    <button class="btn btn-sm btn-danger" onclick="decreaseQuantity(@item.UrunId,@item.ID)"><i class=" mdi mdi-arrow-down-drop-circle-outline"></i></button>
                                    

                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Adet)
                                }
                            </td>
                            <td>
                                <span name="urunToplam" id="GuncelFiyat-@item.ID" class="mb-0 text-sm">@(item.Fiyat * item.Adet) TL </span>
                            </td>
                            <td>
                                <span class="badge badge-dot mr-4">
                                    @if (item.status == SiparisDetay.Status.Onay_Bekliyor)
                                    {
                                        <i class="bg-warning"></i>
                                        {
                                            onaysizUrun = true;
                                        }
                                    }
                                    else if(item.status == SiparisDetay.Status.Onaylandı )
                                    {
                                        <i class="bg-success"></i>
                                    }
                                    else if (item.status == SiparisDetay.Status.Hazırlanıyor)
                                    {
                                        <i class="bg-info"></i>
                                        {
                                            onaysizUrun = true;
                                        }
                                    }
                                    else if (item.status == SiparisDetay.Status.Teslim_Edildi)
                                    {
                                        <i class="bg-info"></i>
                                        {
                                            onaysizUrun = true;
                                        }
                                    }
                                </span>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>
                            <td>
                                @if (item.status == SiparisDetay.Status.Onay_Bekliyor)
                                {
                                    <a class="btn btn-danger btn-sm" asp-action="Onayla" asp-route-id="@item.ID"> Onayla <i class="mdi mdi-send"></i></a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID"> Kaldır <i class="mdi mdi-delete-variant"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (onaysizUrun)
        {
        <div class="card-footer py-4"> 
                <button style="float:right" class="btn btn-danger" onclick="func1()">Hepsini Onayla</button>
                @foreach (var item in Model)
                {
                    <center>
                        <span id ="toplamTutarSon">
                            Toplam Tutar :  @Html.DisplayFor(modelItem => item.SiparisMaster.ToplamTutar) TL
                        </span>
                    </center>
                    break;
                }
        </div>
        }
    </div>
</div>
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <span id="siparisJson" hidden>@value</span>
            </div>
        </div>
    </footer>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
        function func1() {
        var json = document.getElementById("siparisJson").innerText;

            $.ajax({
            type: "POST",
            url: "/Musteri/Siparis/AllConfirm",
            data: { vJson: json },
            success: function (success, message) { location.reload(); console.log(message) }

        });
        } 
    </script>