@model List<Entites.Concrate.SiparisDetay>

<section id="our_menu" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page_title text-center mb-4">
                    <h1>Sepet</h1>
                    <div class="single_line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
                @for (int i = 0; i < @ViewBag.Firma.Count; i++)
                {
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="Menu" asp-action="Kategori" asp-route-id="@ViewBag.Firma[i].SelfKategoriID">@ViewBag.Firma[i].KategoriAdi</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Siparis" asp-action="Index">Sepet</a>
                </li>
            </ul>
        </div>
</section>
<table class="table">
    <thead>
        <tr>
            <th>
                Masa ID
            </th>
            <th>
                UrunAdi
            </th>
            <th>
                Fiyat
            </th>
            <th>
                Adet
            </th>
            <th>
                Toplam
            </th>
            <th>
                Sipariş Durumu
            </th>
            <th>
                Sipariş Tarihi
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisMaster.MasaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiyat) TL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adet)
            </td>
            <td>
                    @(item.Fiyat * item.Adet) TL
            </td>
             <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td> 
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @if (item.status == SiparisDetay.Status.Onay_Bekliyor)
                    {
                        <a asp-action="Onayla" asp-route-id="@item.ID">Onayla</a>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                
            </td>
        </tr>
        }
    </tbody>
</table>
@foreach (var item in Model)
{
    <center>
        <b>
            Toplam Tutar :  @Html.DisplayFor(modelItem => item.SiparisMaster.ToplamTutar) TL
        </b>
    </center>
    break;
}
